body {
  font-family: Roboto;
  margin: 0em;
}
* {
  font-weight: 300;
}

.App {
  background: #edecec;
}

.mainContainer {
  margin: 0em 1em;
  min-height: 100vh;
  padding-bottom: 2em;
}

.containerCard {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  padding: 0.5em;
  margin: 1em;
}

.dashboardDetailsContainer {
  width: 100%;
}

.tableContainer {
  margin: 2em;
  border: 1px solid black;
}

.tableHead {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(242, 242, 244);
  box-shadow: inset 0 2px 0 #000000, inset 0 -2px 0 #000000;
}

.TableCell.MuiTableCell-head {
  font-weight: 400;
  border: 1px solid black;
  text-align: center;
}

.TableCell.MuiTableCell-body {
  border: 1px solid black;
  padding: 0.4em;
  font-weight: 300;
  font-size: 0.8rem;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

button {
  height: 2em;
}

.eventLogModalDetailsContainer {
  display: flex;
  margin: auto;
}

.eventLogModalDetails {
  width: fit-content;
  padding: 0.2em;
  margin-right: 4em;
}

.eventLogModalDetailsTitle {
  font-weight: 400;
  text-align: left;
}

.modalDataContainer {
  padding: 0.2em;
}

.eventLogDataField {
  max-width: 56vw;
  overflow-x: auto;
}

.filtersContainer {
  padding: 1em;
}

.filterBar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}

.dataKeyField {
  display: inline;
  font-weight: 400;
}

.dataGridCell {
  border: 1px solid black;
  font-size: 0.8rem;
}

.dataGridHeader {
  box-shadow: inset 1px 2px 0 #000000, inset 0 -2px 0 #000000;
  font-weight: 400;
  text-transform: capitalize;
  background-color: rgb(242, 242, 244);
}

.tableName {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: underline;
}

button {
  background: #00a0d1;
  color: white;
  border-radius: 6px;
  border: none;
  font-weight: 100;
}

.header {
  height: 4em;
  margin-bottom: 2em;
  padding-left: 2.2em;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(208, 208, 208, 0.5);
}

.headerCiscoDNASpacesContainer {
  font-family: Roboto;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerCisco {
  color: #00bceb;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 1000;
}

.headerDNASpaces {
  color: #005073;
  font-size: 1.5rem;
  vertical-align: middle;
}

.headerDivider {
  opacity: 0.2;
  border: 1px solid #000000;
  height: 50%;
  margin: 0em 1em;
}

.viewButton {
  margin: 1em;
}

.closeButtonContainer {
  text-align: right;
  margin-bottom: 2em;
}

.dataContainer {
  display: flex;
  justify-content: center;
}

.dataKey {
  border: 1px solid black;
}

.dataDetails {
  border: 1px solid black;
}
